.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
